<footer class="footer">
    <div class="footer__wrapper wrapper">

        {% for link in linklists.footer.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
    
    </div>
</footer>