{%- comment -%}
    File: snippets/post-item.liquid
    Usage: {% include 'posts-item', post:post, class:class %}
{%- endcomment -%}

{% assign item_class = '' %}
{% if class %}
    {% assign item_class = class %}
{% endif %}

<a class="{{ item_class }} posts-item flex-block" href="{{ post.url }}">
    <div class="posts-item__image">{{ post.featured_image.src | img_url: 'medium' | img_tag: post.featured_image.alt class: 'ofc' }}</div>
    <h4 class="posts-item__title text-l">{{ post.title }}</h4>
</a>