<!-- /templates/customers/login.liquid -->

<div class="auth-page login-page">
    <section class="login-main">
        <div class="auth-page__wrapper wrapper">
            <div class="row">

                <div class="col-6">
                    <h2 class="title-xs">Login</h2>
                    {% form 'customer_login' %}
                        {{ form.errors | default_errors }}
                        
                        <div class="form__field"><input type="email" name="customer[email]" placeholder="Email Address" /></div>
                        <div class="form__field"><input type="password" name="customer[password]" placeholder="Password" /></div>
                        <input class="btn btn_orange" type="submit" value="Sign In" />
                    {% endform %}
                </div>

                <div class="col-6">
                    <h2 class="title-xs">Forgot Password</h2>
                    {% form 'recover_customer_password' %}
                        {{ form.errors | default_errors }}
                        
                        <div class="form__field"><input type="email" name="email" placeholder="Email Address" /></div>
                        <input class="btn btn_orange" type="submit" value="Submit" />
                    {% endform %}
                </div>

            </div>
        </div>
    </section>
</div>
