<!-- /templates/customers/register.liquid -->

<div class="auth-page register-page">
    <section class="register-main">
        <div class="auth-page__wrapper wrapper">

            {% form 'create_customer' %}

                {{ form.errors | default_errors }}
                
                <div class="form__field">
                    <input type="text" value="" name="customer[first_name]" size="30" placeholder="First name" />
                </div>
                
                <div class="form__field">
                    <input type="text" value="" name="customer[last_name]" size="30" placeholder="Last name" />
                </div>
                
                <div class="form__field">
                    <input type="email" value="" name="customer[email]" size="30" placeholder="Email Address" />
                </div>
                
                <div class="form__field">
                    <input type="password" value="" name="customer[password]" size="30" placeholder="Password" />
                </div>
                
                <input type="submit" value="Create" />
                
            {% endform %}
            
        </div>
    </section>
</div>
