{% schema %}
    {
        "name": "Product recommendations",
        "class": "product-recommendations",
        "tag": "section",
        "settings": []
    }
{% endschema %}

<div 
    class="product-recommendations__wrapper wrapper product-recommendations-content"
    data-url="{{ routes.product_recommendations_url }}?section_id={{ section.id }}&product_id={{ product.id }}&limit=4&intent=related"
>
    {%- if recommendations.performed? and recommendations.products_count > 0 -%}
        <h2 class="product-recommendations__title title centered title-margin">
            {% if recommendations.intent == 'related' %}
                You may also like
            {% elsif recommendations.intent == 'complementary' %}
                Pair it with
            {% endif %}
        </h2>

        <div class="product-recommendations__list">
            <div class="row row-v">
                {%- for product in recommendations.products -%}
                    <div class="featured-products__col col-md-4 d-flex justify-content-center">
                        {% include 'products-item', product:product %}
                    </div>
                {%- endfor -%}
            </div>
        </div>
    {%- endif -%}
</div>

{% stylesheet %}

{% endstylesheet %}



{% javascript %}
const handleIntersection = (entries, observer) => {
    if (!entries[0].isIntersecting) return;

        observer.unobserve(productRecommendationsSection);

        const url = productRecommendationsSection.dataset.url;

        fetch(url)
        .then(response => response.text())
        .then(text => {
        const html = document.createElement('div');
        html.innerHTML = text;
        const recommendations = html.querySelector('.product-recommendations-content');

        if (recommendations && recommendations.innerHTML.trim().length) {
            productRecommendationsSection.innerHTML = recommendations.innerHTML;
        }
    })
    .catch(e => {
        console.error(e);
    });
};

const productRecommendationsSection = document.querySelector('.product-recommendations-content');
const observer = new IntersectionObserver(handleIntersection, {rootMargin: '0px 0px 200px 0px'});

observer.observe(productRecommendationsSection);
{% endjavascript %}

