<div class="page-catalog">
    <section class="products">
        <div class="products__wrapper wrapper">
            <h1 class="products__title title centered">{{ collection.title }}</h1>

            {% paginate collection.products by 3 %}
                <div class="products__row row row-v justify-content-center">
                    {% for product in collection.products %}
                        <div class="products__col col-md-4 d-flex justify-content-center">
                            {% include 'products-item', product:product %}
                        </div>
                    {% else %}
                        <p>no matches</p>
                    {% endfor %}
                </div>
                {% include 'pagination' %}
            {% endpaginate %}
        </div>
    </section>
</div>
