<section class="search">
    <div class="search__wrapper wrapper">
        {% paginate search.results by 1 %}
            <form class="form__search" action="/search" method="get" role="search">
                <input type="search" name="q" value="{{ search.terms | escape }}">
                <button type="submit">search</button>
            </form>
        
            <div class="search__row row">
                {% if search.performed %}
                    {% for item in search.results %}
                        <div class="search__col col-md-4 d-flex justify-content-center">
                            {% include 'posts-item', post:item, class:'search-item' %}
                        </div>
                    {% else %}
                        no results
                    {% endfor %} 
                {% endif %}
            </div>
        
            {% include 'pagination' %}
        {% endpaginate %}
    </div>
</section>
